# Tabular data
In the "Further Research" section of chapter 9 of the book, the 1st assignment is to pick a competition on Kaggle based on tabular data. I chose to join the [Bike Sharing Demand](https://www.kaggle.com/c/bike-sharing-demand/overview/description). This competion was closed years ago, but the open ones are all about predicting sales and I don't want to simply replicate what was in the book.

In [1]:
#hide
!pip install -Uqq fastbook kaggle waterfallcharts treeinterpreter dtreeviz
import fastbook
fastbook.setup_book()

In [2]:
from fastbook import *
from pandas.api.types import is_string_dtype, is_numeric_dtype, is_categorical_dtype
from fastai.tabular.all import *
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from dtreeviz.trees import *
from IPython.display import Image, display_svg, SVG

pd.options.display.max_rows = 20
pd.options.display.max_columns = 8

Set up the Kaggle API and get the data:

In [3]:
creds = '{"username":"francescolost","key":"b1cc19c1a43064e643fa0eabbc4ebffe"}'

In [4]:
cred_path = Path('~/.kaggle/kaggle.json').expanduser()
print(cred_path)
if not cred_path.exists():
    cred_path.parent.mkdir(exist_ok=True)
    cred_path.write_text(creds)
    cred_path.chmod(0o600)

/root/.kaggle/kaggle.json

In [5]:
path = URLs.path('tabularplayground')
path

Path('/root/.fastai/archive/tabularplayground')

In [6]:
Path.BASE_PATH = path

In [7]:
from kaggle import api

In [8]:
if not path.exists():
    path.mkdir(parents=True)

In [9]:
api.competition_download_cli('bike-sharing-demand', path=path)

bike-sharing-demand.zip: Skipping, found more recently modified local copy (use --force to force download)

In [10]:
path.ls()

(#6) [Path('test.csv'),Path('tabular-playground-series-feb-2021.zip'),Path('bike-sharing-demand.zip'),Path('train.csv'),Path('sampleSubmission.csv'),Path('sample_submission.csv')]

In [11]:
file_extract(path/'bike-sharing-demand.zip')

In [12]:
path.ls(file_type='text')

(#4) [Path('test.csv'),Path('train.csv'),Path('sampleSubmission.csv'),Path('sample_submission.csv')]

In [13]:
df_train = pd.read_csv(path/'train.csv', low_memory=False)
df_test = pd.read_csv(path/'test.csv', low_memory=False)

In [14]:
len(df_train.columns),len(df_test.columns)

(12, 9)

In [15]:
df_train.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [16]:
df_test.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed'],
      dtype='object')

In [17]:
df_train.drop(columns=['registered','casual'],inplace=True)

In [18]:
df_train.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
count           int64
dtype: object

Merge in a single dataframe for better handling:

In [19]:
df = pd.concat([df_train, df_test], axis=0)

In [22]:
df['is_test'] = 0
df.loc[ df['count'].isna(), 'is_test' ] = 1

Get additional info out of `datetime`:

In [20]:
add_datepart??

In [21]:
df = add_datepart(df, 'datetime', time=True)

In [23]:
for c in df.columns:
  print(c,':', len(df[c].unique()), ':', df[c].unique())

season : 4 : [1 2 3 4]
holiday : 2 : [0 1]
datetimeWeek : 52 : <IntegerArray>
[52,  1,  2,  3,  5,  6,  7,  9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 22,
 23, 24, 26, 27, 28, 29, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45,
 46, 48, 49, 50, 51, 12, 25, 47,  4,  8, 21, 30, 34, 43]
Length: 52, dtype: UInt32
workingday : 2 : [0 1]
weather : 4 : [1 2 3 4]
temp : 50 : [ 9.84  9.02  8.2  13.12 15.58 14.76 17.22 18.86 18.04 16.4  13.94 12.3  10.66  6.56  5.74  7.38  4.92 11.48  4.1   3.28  2.46 21.32 22.96 23.78 24.6  19.68 22.14 20.5  27.06 26.24 25.42 27.88 28.7
 30.34 31.16 29.52 33.62 35.26 36.9  32.8  31.98 34.44 36.08 37.72 38.54  1.64  0.82 39.36 41.   40.18]
atemp : 65 : [14.395 13.635 12.88  17.425 19.695 16.665 21.21  22.725 21.97  20.455 11.365 10.605  9.85   8.335  6.82   5.305  6.06   9.09  12.12   7.575 15.91   3.03   3.79   4.545 15.15  18.18  25.    26.515
 27.275 29.545 23.485 25.76  31.06  30.305 24.24  18.94  31.82  32.575 33.335 28.79  34.85  35.605 37.12  40.15  41.665 40.91  39.395 34.09  28.03  36.365 37.88  42.425 43.94  38.635  1.515  0.76
  2.275 43.18  44.695 45.455  0.    46.21  47.725 49.24  50.   ]
humidity : 89 : [ 81  80  75  86  76  77  72  82  88  87  94 100  71  66  57  46  42  39  44  47  50  43  40  35  30  32  64  69  55  59  63  68  74  51  56  52  49  48  37  33  28  38  36  93  29  53  34  54  41
  45  92  62  58  61  60  65  70  27  25  26  31  73  21  24  23  22  19  15  67  10   8  12  14  13  17  16  18  20  85   0  83  84  78  79  89  97  90  96  91]
windspeed : 30 : [ 0.      6.0032 16.9979 19.0012 19.9995 12.998  15.0013  8.9981 11.0014 22.0028 30.0026 23.9994 27.9993 26.0027  7.0015 32.9975 36.9974 31.0009 35.0008 39.0007 43.9989 40.9973 51.9987 46.0022
 50.0021 43.0006 56.9969 47.9988 54.002  55.9986]
count : 823 : [ 16.  40.  32.  13.   1.   2.   3.   8.  14.  36.  56.  84.  94. 106. 110.  93.  67.  35.  37.  34.  28.  39.  17.   9.   6.  20.  53.  70.  75.  59.  74.  76.  65.  30.  22.  31.   5.  64. 154.
  88.  44.  51.  61.  77.  72. 157.  52.  12.   4. 179. 100.  42.  57.  78.  97.  63.  83. 212. 182. 112.  54.  48.  11.  33. 195. 115.  46.  79.  71.  62.  89. 190. 169. 132.  43.  19.  95. 219.
 122.  45.  86. 172. 163.  69.  23.   7. 210. 134.  73.  50.  87. 187. 123.  15.  25.  98. 102.  55.  10.  49.  82.  92.  41.  38. 188.  47. 178. 155.  24.  18.  27.  99. 217. 130. 136.  29. 128.
  81.  68. 139. 137. 202.  60. 162. 144. 158. 117.  90. 159. 101. 118. 129.  26. 104.  91. 113. 105.  21.  80. 125. 133. 197. 109. 161. 135. 116. 176. 168. 108. 103. 175. 147.  96. 220. 127. 205.
 174. 121. 230.  66. 114. 216. 243. 152. 199.  58. 166. 170. 165. 160. 140. 211. 120. 145. 256. 126. 223.  85. 206. 124. 255. 222. 285. 146. 274. 272. 185. 191. 232. 327. 224. 107. 119. 196. 171.
 214. 242. 148. 268. 201. 150. 111. 167. 228. 198. 204. 164. 233. 257. 151. 248. 235. 141. 249. 194. 259. 156. 153. 244. 213. 181. 221. 250. 304. 241. 271. 282. 225. 253. 237. 299. 142. 313. 310.
 207. 138. 280. 173. 332. 331. 149. 267. 301. 312. 278. 281. 184. 215. 367. 349. 292. 303. 339. 143. 189. 366. 386. 273. 325. 356. 314. 343. 333. 226. 203. 177. 263. 297. 288. 236. 240. 131. 452.
 383. 284. 291. 309. 321. 193. 337. 388. 300. 200. 180. 209. 354. 361. 306. 277. 428. 362. 286. 351. 192. 411. 421. 276. 264. 238. 266. 371. 269. 537. 518. 218. 265. 459. 186. 517. 544. 365. 290.
 410. 396. 296. 440. 533. 520. 258. 450. 246. 260. 344. 553. 470. 298. 347. 373. 436. 378. 342. 289. 340. 382. 390. 358. 385. 239. 374. 598. 524. 384. 425. 611. 550. 434. 318. 442. 401. 234. 594.
 527. 364. 387. 491. 398. 270. 279. 294. 295. 322. 456. 437. 392. 231. 394. 453. 308. 604. 480. 283. 565. 489. 487. 183. 302. 547. 513. 454. 486. 467. 572. 525. 379. 502. 558. 564. 391. 293. 247.
 317. 369. 420. 451. 404. 341. 251. 335. 417. 363. 357. 438. 579. 556. 407. 336. 334. 477. 539. 551. 424. 346. 353. 481. 506. 432. 409. 466. 326. 254. 463. 380. 275. 311. 315. 360. 350. 252. 328.
 476. 227. 601. 586. 423. 330. 569. 538. 370. 498. 638. 607. 416. 261. 355. 552. 208. 468. 449. 381. 377. 397. 492. 427. 461. 422. 305. 375. 376. 414. 447. 408. 418. 457. 545. 496. 368. 245. 596.
 563. 443. 562. 229. 316. 402. 287. 372. 514. 472. 511. 488. 419. 595. 578. 400. 348. 587. 497. 433. 475. 406. 430. 324. 262. 323. 412. 530. 543. 413. 435. 555. 523. 441. 529. 532. 585. 399. 584.
 559. 307. 582. 571. 426. 516. 465. 329. 483. 600. 570. 628. 531. 455. 389. 505. 359. 431. 460. 590. 429. 599. 338. 566. 482. 568. 540. 495. 345. 591. 593. 446. 485. 393. 500. 473. 352. 320. 479.
 444. 462. 405. 620. 499. 625. 395. 528. 319. 519. 445. 512. 471. 508. 526. 509. 484. 448. 515. 549. 501. 612. 597. 464. 644. 712. 676. 734. 662. 782. 749. 623. 713. 746. 651. 686. 690. 679. 685.
 648. 560. 503. 521. 554. 541. 721. 801. 561. 573. 589. 729. 618. 494. 757. 800. 684. 744. 759. 822. 698. 490. 536. 655. 643. 626. 615. 567. 617. 632. 646. 692. 704. 624. 656. 610. 738. 671. 678.
 660. 658. 635. 681. 616. 522. 673. 781. 775. 576. 677. 748. 776. 557. 743. 666. 813. 504. 627. 706. 641. 575. 639. 769. 680. 546. 717. 710. 458. 622. 705. 630. 732. 770. 439. 779. 659. 602. 478.
 733. 650. 873. 846. 474. 634. 852. 868. 745. 812. 669. 642. 730. 672. 645. 694. 493. 668. 647. 702. 665. 834. 850. 790. 415. 724. 869. 700. 793. 723. 534. 831. 613. 653. 857. 719. 867. 823. 403.
 693. 603. 583. 542. 614. 580. 811. 795. 747. 581. 722. 689. 849. 872. 631. 649. 819. 674. 830. 814. 633. 825. 629. 835. 667. 755. 794. 661. 772. 657. 771. 777. 837. 891. 652. 739. 865. 767. 741.
 469. 605. 858. 843. 640. 737. 862. 810. 577. 818. 854. 682. 851. 848. 897. 832. 791. 654. 856. 839. 725. 863. 808. 792. 696. 701. 871. 968. 750. 970. 877. 925. 977. 758. 884. 766. 894. 715. 783.
 683. 842. 774. 797. 886. 892. 784. 687. 809. 917. 901. 887. 785. 900. 761. 806. 507. 948. 844. 798. 827. 670. 637. 619. 592. 943. 838. 817. 888. 890. 788. 588. 606. 608. 691. 711. 663. 731. 708.
 609. 688. 636.  nan]
datetimeYear : 2 : [2011 2012]
datetimeMonth : 12 : [ 1  2  3  4  5  6  7  8  9 10 11 12]
datetimeDay : 31 : [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31]
datetimeDayofweek : 7 : [5 6 0 1 2 3 4]
datetimeDayofyear : 366 : [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  60  61  62  63  64  65  66  67  68  69  70
  71  72  73  74  75  76  77  78  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 152 153 154
 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 213 214 215 216 217 218 219 220 221 222 223 224 225 226
 227 228 229 230 231 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 305 306 307 308 309 310
 311 312 313 314 315 316 317 318 319 320 321 322 323 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353  79 110 140 171 201 232 263 293 324 354  20  21  22  23  24  25  26
  27  28  29  30  31  51  52  53  54  55  56  57  58  59  80  81  82  83  84  85  86  87  88  89  90 111 112 113 114 115 116 117 118 119 120 141 142 143 144 145 146 147 148 149 150 151 172 173 174
 175 176 177 178 179 180 181 202 203 204 205 206 207 208 209 210 211 212 233 234 235 236 237 238 239 240 241 242 243 264 265 266 267 268 269 270 271 272 273 294 295 296 297 298 299 300 301 302 303
 304 325 326 327 328 329 330 331 332 333 334 355 356 357 358 359 360 361 362 363 364 365 366]
datetimeIs_month_end : 2 : [False  True]
datetimeIs_month_start : 2 : [ True False]
datetimeIs_quarter_end : 2 : [False  True]
datetimeIs_quarter_start : 2 : [ True False]
datetimeIs_year_end : 2 : [False  True]
datetimeIs_year_start : 2 : [ True False]
datetimeHour : 24 : [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
datetimeMinute : 1 : [0]
datetimeSecond : 1 : [0]
datetimeElapsed : 17379 : [1293840000 1293843600 1293847200 ... 1356987600 1356991200 1356994800]
is_test : 2 : [0 1]

In [25]:
df.drop(columns=['datetimeMinute','datetimeSecond'], inplace=True)

Create a validation set here: use the first 13 days of the month as training set and the days from 15th to 20th as validation set. The days from the 21st to the end of the month are already in the test set.

In [26]:
df['is_valid'] = 0
df.loc[ df['datetimeDay'] > 13, 'is_valid' ] = 1

In [27]:
df = df.astype({'datetimeWeek' : 'uint32'})

Probably it's better to treat `season` and `weather` as ordinal categories:

In [28]:
df['season'] = df['season'].astype('category')
df['season'].cat.set_categories([1,2,3,4], ordered=True, inplace=True)

In [29]:
df['weather'] = df['weather'].astype('category')
df['weather'].cat.set_categories([1,2,3,4], ordered=True, inplace=True)

The model is evaluated on the RMSLE:
$ \sqrt{\frac{1}{n} \sum_{i=1}^n (\log(p_i + 1) - \log(a_i+1))^2 } $

In [30]:
targetVar = 'count'

In [33]:
df[ df['is_test']==0 ][targetVar].min(),df[ df['is_test']==0 ][targetVar].max()

(1.0, 977.0)

In [34]:
preds = np.random.random_integers(1,1000,len(df[df['is_valid']==1]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(1, 1000 + 1) instead
  """Entry point for launching an IPython kernel.

In [35]:
L(list(preds))

(#9927) [971,111,338,123,705,447,611,291,671,412...]

In [36]:
def rmsle(p,a):
  return np.sqrt( ((np.log(p+1) - np.log(a+1))**2).mean() )

In [37]:
def m_rmsle(m, xs, y): return rmsle(m.predict(xs), y)

In [38]:
rmsle(preds, df[ df['is_valid']==1 ][targetVar])

2.125231281916073

Build a `TabularPandas` object:

In [48]:
df_train = df[ df['is_test']==0 ]

cond = df_train['is_valid']==0
train_idx = np.where( cond)[0]
valid_idx = np.where(~cond)[0]

splits = (list(train_idx),list(valid_idx))

In [49]:
[ (c,df[c].dtype) for c in df.columns ]

[('season', CategoricalDtype(categories=[1, 2, 3, 4], ordered=True)),
 ('holiday', dtype('int64')),
 ('datetimeWeek', dtype('uint32')),
 ('workingday', dtype('int64')),
 ('weather', CategoricalDtype(categories=[1, 2, 3, 4], ordered=True)),
 ('temp', dtype('float64')),
 ('atemp', dtype('float64')),
 ('humidity', dtype('int64')),
 ('windspeed', dtype('float64')),
 ('count', dtype('float64')),
 ('datetimeYear', dtype('int64')),
 ('datetimeMonth', dtype('int64')),
 ('datetimeDay', dtype('int64')),
 ('datetimeDayofweek', dtype('int64')),
 ('datetimeDayofyear', dtype('int64')),
 ('datetimeIs_month_end', dtype('bool')),
 ('datetimeIs_month_start', dtype('bool')),
 ('datetimeIs_quarter_end', dtype('bool')),
 ('datetimeIs_quarter_start', dtype('bool')),
 ('datetimeIs_year_end', dtype('bool')),
 ('datetimeIs_year_start', dtype('bool')),
 ('datetimeHour', dtype('int64')),
 ('datetimeElapsed', dtype('O')),
 ('is_test', dtype('int64')),
 ('is_valid', dtype('int64'))]

In [50]:
def cont_cat_split(df, max_card=20, dep_var=None):
    cont_names, cat_names = [], []
    for label in df:
        if label in L(dep_var): continue
        
        # mod to detect ProductSize type properly
        if (df[label].dtype.name == 'category'):
          cat_names.append(label)
          continue

        if (np.issubdtype(df[label].dtype, np.integer) and
            df[label].unique().shape[0] > max_card or
            np.issubdtype(df[label].dtype, np.floating)):
            cont_names.append(label)
        else: cat_names.append(label)
    return cont_names, cat_names

In [51]:
cont,cat = cont_cat_split(df, max_card=100, dep_var=targetVar)

`Categorify` is not used as there are no string-typed columns

In [52]:
procs = [FillMissing]

In [53]:
to = TabularPandas(df_train, procs=procs, cat_names=cat, cont_names=cont, y_names=targetVar, splits=splits)

In [54]:
to.show(5)

In [55]:
xs,y = to.train.xs,to.train.y
valid_xs,valid_y = to.valid.xs,to.valid.y

Use a function to quickly build a Random Forest:

In [59]:
def rf(xs,y,n_estimators=40,max_samples=5000,max_features=0.5,min_samples_leaf=10,**kwargs):
  return RandomForestRegressor(n_jobs=-1,
                               n_estimators=n_estimators,max_samples=max_samples,max_features=max_features,
                               min_samples_leaf=min_samples_leaf,oob_score=True).fit(xs,y)

In [60]:
m = rf(xs,y)

In [61]:
m_rmsle(m, xs, y),m_rmsle(m, valid_xs, valid_y)

(0.4517481229492313, 0.4861685296972013)